.project
.classpath
.springBeans
.settings
.metadata
target/
project/
.idea/
.gradle/
classes/
out/
buildSrc/
bin/
logs/
log/
build/
*/src/generated/
*.iml
*.ipr
*.iws
*.prefs
atlassian-ide-plugin.xml
