<Configuration status="info">
    <Properties>
        <Property name="logNm">logtest</Property>
        <Property name="layoutPattern">%d [%t] %-5level %c(%M:%L) - %m%n
    </Property>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layoutPattern}" />
        </Console>
        <File name="FILE" fileName="app.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <!-- 콘솔 로그 -->
    <appender name="infoConsole" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%5p] %d{hh\:mm s} (%F\:%L) %c{1}.%M \: %m%n" />
        </layout>
    </appender>

    <!-- root 설정 -->
    <Loggers>
        <root>
            <level value="INFO" />
            <appender-ref ref="console" />
        </root>
    </Loggers>
</Configuration>